.jumbotron {
  background-image: url("https://i.imgur.com/wvXWxrQ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}

.button {
  width: 200px;
  position: relative;
  top: 420px;
}

.btn-circle {
  width: 300px;
  border-radius: 50%;
}
